<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Generate QR Code</title>
    <link rel="stylesheet" href="/style/index.css">
</head>

<body>
    <div class="container">
        <h1>Generate Your QR Code</h1>
        <form method="post" action="/submit">
            <input type="text" name="text" placeholder="Enter text" required>
            <input type="submit" value="Generate QR">
        </form>
    </div>
</body>

</html>
